<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }




  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Calc Logo"
    src="./assets/images/cropped-calculadora-logo.png"
  />
  <span>CALCULADORA DE APLICAÇÃO CDB</span>
    
</div>



<div class="content" role="main">

  <div class="calculator">
    <h2>Simulação de Aplicação</h2>

    <div class="input-group">
      <label for="valor">Valor Monetário:</label>
      <input type="text" id="valor" [(ngModel)]="formattedAmount" (input)="formatInput($event)">
    </div>

    <div class="input-group">
      <label for="prazo">Prazo em Meses:</label>
      <input type="number" id="prazo" [(ngModel)]="term" required min="1" (input)="restrictToNumbers($event)">
    </div>
    <label for="bruto">Valor bruto:</label>
    <div class="result" *ngIf="grossAmountResult !== undefined">
      <div class="resultado-bruto">
        <p id="bruto"> R$ {{ formatNumber(grossAmountResult) }}</p>
      </div>
    </div>
    <br />
    <label for="liquido">Valor líquido:</label>
    <div class="result" *ngIf="netAmountResult !== undefined">
      <div class="resultado-liquido">
        <p id="liquido"> R$ {{ formatNumber(netAmountResult) }}</p>
      </div>
    </div>
  </div>
  <div class="button-container">
    <button class="calcular-button" (click)="calculate()">Calcular</button>
  </div>
  <div class="error-message" *ngIf="showErrorMessage">{{ errorMessage }}</div>
</div>




<footer class="footer">
    <img
    width="40"
    alt="Piggy Bank"
    src="./assets/images/pig-bank-gold.png"
  />
  

  
  
</footer>


